.paginationContainer {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .paginationContainer {
    flex-direction: column;
  }
}
.pageInfoContainer {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 435px) {
  .pageInfoContainer {
    flex-direction: column;
  }
}
.selectFilters {
  display: flex;
  gap: 0.3em;
}
.selectFilters select {
  background-color: #1c7fee33;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border: none;
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
  padding-right: 0.1em;
}
.pageNumbersContainer, .container {
  display: flex;
  gap: 0.3em;
}
.pageButton, .prevButton, .nextButton, .breakButton {
  list-style-type: none;
}
.pageButton,
.prevButton,
.nextButton,
.breakButton {
  width: 2em;
  height: 2em;
  background-color: #1c7fee33;
  display: flex;
  border-radius: 0.35em;
}
.pageButton:hover,
.prevButton:hover,
.nextButton:hover,
.breakButton:hover {
  background-color: #1c7fee88;
}
.pageButton a:focus-visible,
.prevButton a:focus-visible,
.nextButton a:focus-visible,
.breakButton a:focus-visible,
.pageInfoContainer select:focus-visible {
  outline: 2px solid #1c7feecc;
}
.pageButton a,
.prevButton a,
.nextButton a,
.breakButton a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45em;
  border-radius: 0.35em;
}
.disabledButton {
  color: #ffffff99;
  cursor: not-allowed;
}
.disabledButton:hover {
  background-color: #1c7fee33;
}
.activePage {
  background-color: #1c7fee !important;
}
.activePage a,
.disabledButton a {
  pointer-events: none;
}