.strip {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: relative;
  isolation: isolate;
  padding: 0.1em 0.2em;
}
.strip.isExpanded {
  align-items: flex-start;
  padding: 0.2em 0.3em 0.5em;
}
.overlayButton {
  width: 100%;
  height: 100%;
  background-color: #ffffff18;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5em;
  z-index: 1;
}
.isExpanded .overlayButton,
.overlayButton:hover,
.overlayButton:focus-visible {
  opacity: 0.9;
  outline: none;
}
.icon {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 30%;
  right: 1em;
  transform: rotate(180deg);
}
.isExpanded .icon {
  top: 15%;
  transform: rotate(0deg);
}
.stackIcon {
  width: 2.75em;
  height: 2.75em;
  overflow: hidden;
  border-radius: 0.5em;
  z-index: 1;
}
.isExpanded .stackIcon {
  margin-top: 0.2em;
}
.isExpanded .stackIcon:hover {
  filter: brightness(130%);
}
.stackInfo {
  width: 100%;
  display: flex;
  gap: 0.75em;
  flex-direction: column;
}
.isExpanded .stackInfo {
  gap: 0.6em;
}
.stackTitle p {
  color: #ffffffbb;
  font-size: 0.7em;
  line-height: 0.9em;
}
.proficiencyContainer {
  display: flex;
  flex-direction: column;
}
.isExpanded .proficiencyContainer {
  z-index: 1;
}
.proficiency {
  width: 100%;
  height: 0.3em;
  background-color: #ffffff44;
  display: flex;
  position: relative;
  isolation: isolate;
  border-radius: 0.3em;
}
.isExpanded .proficiency {
  height: 1em;
}
.proficiency::before {
  content: '';
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #ffff0055 0%, #ffff00 calc(1000% / var(--score)));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.3em 0 0 0.3em;
  animation: grow 1s ease 500ms forwards;
  z-index: -1;
}
.proficiency.full::before {
  border-radius: 0.3em;
}
@keyframes grow {
  100% {
    width: calc(var(--score, 1) * 10%);
  }
}
.line {
  width: 10%;
  height: 100%;
  background-color: #02183600;
  position: relative;
}
.line:hover {
  background-color: #02183633;
}
.line::before {
  content: '';
  width: 0.175em;
  height: 100%;
  background-color: #021836;
  position: absolute;
  top: 0;
  left: 0;
}
.line:first-child::before {
  display: none;
}
.proficiencyText {
  text-transform: uppercase;
  font-size: 0.75em;
  padding-top: 0.2em;
}
