.profileDetails {
  width: min(1000px, 90%);
  max-width: min(1000px, 90%);
  background-color: #021836;
  border-radius: 1em;
  padding: 1em;
  position: relative;
}
.level1 {
  display: flex;
  justify-content: space-between;
}
.level1 .left {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
.level2 {
  max-height: 25em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  overflow: hidden;
}
.level2.expanded {
  max-height: fit-content;
  overflow: visible;
}
.level2 .empty {
  color: #fff6;
  font-size: 1.3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
.expandButton {
  width: 98%;
  height: 2.75em;
  /* background: linear-gradient(to bottom, transparent, #021836ee 0%), #ffffff; */
  background-color: #021836;
  filter: brightness(130%);
  box-shadow: 0 0 10px 2px #00000057;
  color: #ffffff99;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-radius: 0.5em;
  padding: 0.6em;
}
.expandButton:hover {
  filter: brightness(150%);
}
.expandButton.expanded {
  position: static;
  transform: rotate(0deg);
  margin-top: 1em;
}
.profileDetails:hover .expandButton:not(.expanded) {
  animation: hop 400ms ease 0ms infinite alternate;
}
@keyframes hop {
  0% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(-0.2em) translateX(-50%) rotate(180deg);
  }
}









.strip {
  width: 100%;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.stackIcon {
  width: 2.75em;
  height: 2.75em;
  overflow: hidden;
  border-radius: 0.5em;
}
.stackInfo {
  width: 100%;
  display: flex;
  gap: 0.75em;
  flex-direction: column;
}
/* .stackTitle h3 {
  font-weight: 600;
} */
.stackTitle p {
  color: #ffffffbb;
  font-size: 0.7em;
  line-height: 0.9em;
}
.proficiency {
  width: 100%;
  height: 0.3em;
  background-color: #ffffff44;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
}
.proficiency::before {
  content: '';
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #ffff0055 0%, #ffff00 calc(1000% / var(--score)));
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 1s ease 500ms forwards;
}
@keyframes grow {
  100% {
    width: calc(var(--score, 1) * 10%);
  }
}
.line {
  width: 0.2em;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
}
.line:nth-child(1) {
  left: 10%;
}
.line:nth-child(2) {
  left: 20%;
}
.line:nth-child(3) {
  left: 30%;
}
.line:nth-child(4) {
  left: 40%;
}
.line:nth-child(5) {
  left: 50%;
}
.line:nth-child(6) {
  left: 60%;
}
.line:nth-child(7) {
  left: 70%;
}
.line:nth-child(8) {
  left: 80%;
}
.line:nth-child(9) {
  left: 90%;
}
