.button {
  max-height: 2.5em;
  background-color: #1c7fee55;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  white-space: nowrap;
  display: inline-flex;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em;
  cursor: pointer;
}
.button:hover {
  filter: brightness(90%);
}
.button:disabled {
  filter: opacity(0.8);
  cursor: not-allowed;
}
.icon {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon.small {
  width: 1.2em;
  height: 1.2em;
}