.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.modalIconContainer {
  background-color: #ffffff22;
  /* border: 1px solid #ffffff22; */
  border-radius: 0.75em;
  padding: 0.3em;
}
.modalIcon {
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5em;
}
.category {
  background-color: #ffffff22;
  color: #ffffffaa;
  border-radius: 2em;
  padding: 0.2em 0.7em;
}
.heading h2 {
  font-size: 2em;
}
.section {
  padding-top: 1.3em;
}
.section h3 {
  color: #afb628;
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
}
.section h3 span {
  color: #ffffff88;
  font-size: 0.83em;
  font-weight: 500;
  margin-top: 0.1em;
}
.section h3 span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2em;
}
.section p,
.section li {
  color: #ffffffbb;
  font-size: 1.1em;
  font-weight: 300;
}
.section ol,
.section ul {
  font-size: 1.1em;
  line-height: 1.35em;
  list-style-position: inside;
  /* list-style-image: ; */
}
/* .section ol li::marker, */
.section ul li::marker {
  /* content: '→ '; */
  content: '⇛ ';
  font-size: 1.2em;
}
.section a {
  color: cornflowerblue;
  display: inline-flex;
  gap: 0.2em;
  align-items: center;
}
.section a:hover {
  text-decoration: underline;
}
.section a .icon {
  width: 1em;
  height: 1em;
  display: inline-flex;
}
.link {
  width: 1em;
  height: 1em;
  display: inline-flex;
}